[Unit]
Description="Backup and update Purpur Minecraft server"

[Service]
Type=oneshot
# Send backup signal
ExecStart=/bin/sh -c '. ~/.local/bin/server_ipc_vars; controller_pid=$(cat "$PID_FILE_PATH"); kill -s USR1 "$controller_pid"'
# Send update signal
ExecStart=/bin/sh -c '. ~/.local/bin/server_ipc_vars; controller_pid=$(cat "$PID_FILE_PATH"); kill -s USR2 "$controller_pid"'
# Send next stop is restart signal
ExecStart=/bin/sh -c '. ~/.local/bin/server_ipc_vars; controller_pid=$(cat "$PID_FILE_PATH"); kill -s PWR "$controller_pid"'
# Gracefully stop server
ExecStart=/usr/bin/rconclt server stop
