[Unit]
Description="Backup and update Purpur Minecraft server"

[Timer]
OnCalendar=Mon,Fri *-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
