[Unit]
Description="Update Purpur Minecraft server"

[Timer]
OnCalendar=Tue,Wed,Thu,Sat,Sun *-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
